#content {
    max-width: 60%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: #035f9c; 
    font-size: 0.8em;
    text-align: center; 
    margin-bottom: 0;  
}

hr {
    background-color: lightgrey;
    margin-top:0;
}


#info p:nth-child(2) {
    font-style: italic;
}

li {
    padding: 10px;
}

img {
    max-width: 20%;
    display: block;
    margin: 30px auto;
}
