#content {
    max-width: 60%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    border:1px solid black;
    padding: 50px 150px;
    line-height: 1.5em
}

h1 {
    font-size: 2em;
    text-align: center;
    letter-spacing: .25em;

}
h2 {
    color: #035f9c; 
    font-size: 0.8em;
    text-align: center; 
    margin-bottom: 0;  
    letter-spacing: .25em;

}

hr {
    background-color: lightgrey;
    margin-top:0;
}

#info p:nth-child(2) {
    font-style: italic;
}

li {
    padding: 10px;
    line-height: 1.5em
}

img {
    max-width: 20%;
    display: block;
    margin: 30px auto;
}

body.dark {
    background-color: #333;
    color: white;
}

body.dark p {
    color: white;
}

body.dark h2 {
    color: lightblue;
}
