body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

p {
    color: #035f9c;
    font-size:1.3em;
}

hr {
    height: 3px;
    background-color:#035f9c;
    width: 80%;
    margin-top: 50px;
}

h1, h2, p {
    text-align: center;
}

/*if your logos were in a <div>
#logos {
    text-align: center;
}
   If not in a div, you can do img {display: block; margin: 0 auto: to do the same thing.*/

img {
    width: 50%;
    display: block;
    margin: 50px auto;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}

.list {
    list-style-type: none;
}